NODE_ENV=
VERSION=
MONGODB_URI=
PORT=

JWT_SECRET=
JWT_REFRESH_SECRET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION=
CDN_HOST=

UPLOAD_RATE_TTL=
UPLOAD_RATE_LIMIT=

SOLANA_RPC=
HELIUS_RPC=
HELIUS_API_KEY=

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_CLIENT_BASIC_AUTH=

TWITTER_CT0=
TWITTER_AUTH_TOKEN=

PRIVY_APP_ID=
PRIVY_APP_SECRET=

#TOGETHER_API_KEY=
DEEPSEEK_API_KEY=
REPLICATE_API_TOKEN=
GROQ_API_KEY=

